NET "seven_out[6]" LOC = "D17" | IOSTANDARD = LVCMOS33;
NET "seven_out[3]" LOC = "D11" | IOSTANDARD = LVCMOS33;
NET "seven_out[0]" LOC = "D14" | IOSTANDARD = LVCMOS33;
NET "seven_out[5]" LOC = "D15" | IOSTANDARD = LVCMOS33;
NET "seven_out[2]" LOC = "E16" | IOSTANDARD = LVCMOS33;
NET "seven_out[4]" LOC = "C14" | IOSTANDARD = LVCMOS33;
NET "seven_out[1]" LOC = "C16" | IOSTANDARD = LVCMOS33;
NET "seven_select[0]" LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "seven_select[3]" LOC = "D6" | IOSTANDARD = LVCMOS33;
NET "seven_select[1]" LOC = "C8" | IOSTANDARD = LVCMOS33;
NET "seven_select[2]" LOC = "D8" | IOSTANDARD = LVCMOS33;
NET "column_in[0]" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "column_in[3]" LOC = "B6" | IOSTANDARD = LVCMOS33;
NET "row_sweep[2]" LOC = "A5" | IOSTANDARD = LVCMOS33;
NET "column_in[1]" LOC = "A4" | IOSTANDARD = LVCMOS33;
NET "row_sweep[0]" LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "row_sweep[3]" LOC = "A6" | IOSTANDARD = LVCMOS33;
NET "column_in[2]" LOC = "C5" | IOSTANDARD = LVCMOS33;
NET "row_sweep[1]" LOC = "A8" | IOSTANDARD = LVCMOS33;
NET "rst" LOC = "F16" | IOSTANDARD = SSTL15_II;
NET "clk" LOC = "AA12" | IOSTANDARD = LVCMOS33;
